extends layout

block content
  .page-header
    h3 Fund a Request
    h4 Browse basket requests made near you.

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
  .col-lg-6
    ul.list-group
      li.list-group-item(id='listID9')
        a(href='/basket', id='link18', style='float:left;')
          |bmeyers (Charlotte)
        a(href='/basket', id='link19', style='float:right;')
          |$0.00/$10.37
        hr
      li.list-group-item(id='listID10')
        a(href='/basket', id='link20', style='float:left;')
          |bobbyK (Virginia Beach)
        a(href='/basket', id='link21', style='float:right;')
          |$0.00/$18.29
        hr
      li.list-group-item(id='listID11')
        a(href='/basket', id='link22', style='float:left;')
          |marylynne (Washington DC)
        a(href='/basket', id='link23', style='float:right;')
          |$0.00/$11.99
        hr
      li.list-group-item(id='listID12')
        a(href='/basket', id='link24', style='float:left;')
          |kevinj (Philadelphia)
        a(href='/basket', id='link25', style='float:right;')
          |$0.00/$7.99
        hr
      li.list-group-item(id='listID13')
        a(href='/basket', id='link26', style='float:left;')
          |mumbar (Columbus)
        a(href='/basket', id='link27', style='float:right;')
          |$0.00/$37.99
        hr
      li.list-group-item(id='listID14')
        a(href='/basket', id='link28', style='float:left;')
          |moniquea (Atlanta)
        a(href='/basket', id='link29', style='float:right;')
          |$0.00/$15.79
        hr
      li.list-group-item(id='listID15')
        a(href='/basket', id='link30', style='float:left;')
          |sallyi (Hoboken)
        a(href='/basket', id='link31', style='float:right;')
          |$0.00/$36.49
        hr
      li.list-group-item(id='listID16')
        a(href='/basket', id='link32', style='float:left;')
          |rsmith (Hoboken)
        a(href='/basket', id='link33', style='float:right;')
          |$0.00/$12.89
        hr
      li.list-group-item(id='listID17')
        a(href='/basket', id='link34', style='float:left;')
          |jjohnson (New York)
        a(href='/basket', id='link35', style='float:right;')
          |$0.00/$42.10
        hr
      li.list-group-item(id='listID18')
        a(href='/basket', id='link36', style='float:left;')
          |tannerm (Nashville)
        a(href='/basket', id='link37', style='float:right;')
          |$0.00/$15.60
        hr