h2{
    text-align: center;
    font-size: 40px;
}

h3{
    text-align: center;
    font-size: 30px;
}

h4{
    text-align: center;
}

h5{
    text-align: left;
}

.navbar-brand{
    font-family:Helvetica;
    font-weight: bold;
    color: #2ecc71 !important;
    font-size: 30px;
}

a{
	text-decoration: none;
	color: black;
}
a:hover, a:focus{
	text-decoration: none !important;
	color: black !important;
}
a:active{
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}

hr{
	border:none;
	margin: 0 0 0 10;
}