extends ../layout

block content
  .row
      img(class="img-responsive" src="https://i.imgur.com/8PqHlfu.jpg")
  hr

  .row
    .col-sm-4
      a(href='/api/stripe', style='color: #fff')
        .panel.panel-default(style='background-color: #3da8e5')
          .panel-body
            img(src='http://i.imgur.com/w3s2RvW.png', height=40)
            |  Stripe

