extends ../layout

block content
  .row
      img(class="img-responsive" src="http://i.imgur.com/vjFOjrF.jpg")

  .row
    .col-sm-12
      h2(style='text-align:center;') CrowdNine allows anyone to connect with those who need assistance paying for the necessities.
      p
  hr
  .row
    .col-sm-4
      a(href='/api/stripe', style='color: #fff')
        .panel.panel-default(style='background-color: #3da8e5')
          .panel-body
            img(src='http://i.imgur.com/w3s2RvW.png', height=40)
            |  Stripe

