extends ../layout

block content
  .row
      img(class="img-responsive" src="http://i.imgur.com/rZUxALH.jpg")

  .row
    .col-sm-12
      h2 CrowdNine allows anyone to connect with those who need assistance paying for the necessities.
      p
  hr
  .row
    .col-sm-6
      a(href='/#', style='color: #fff')
        .panel.panel-default(style='background-color: #2980b9')
          .panel-body
            h3 Fund a basket of items.
    .col-sm-6
      a(href='/request', style='color: #fff')
        .panel.panel-default(style='background-color: #3498db')
          .panel-body
            h3 Request a basket of items.

